name: Windows

on: [ push, pull_request ]

env:
  BUILD_TYPE: "Release"
  QT_VERSION: "6.10.2"
  CMAKE_GENERATOR: "Visual Studio 17 2022"

jobs:
  build:
    name: "${{matrix.name}}"
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        include:
          - name: "win64-x64"
            os: windows-latest
            qt-arch: "win64_msvc2022_64"
            qt-host: "windows"
            cmake-arch: "x64"

          - name: "win64-arm64"
            os: windows-11-arm
            qt-arch: "win64_msvc2022_arm64"
            qt-host: "windows_arm64"
            cmake-arch: "ARM64"

    steps:
      - uses: actions/checkout@v6

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          cache: true
          version: ${{env.QT_VERSION}}
          arch: ${{matrix.qt-arch}}
          host: ${{matrix.qt-host}}
          modules: "qtmultimedia qtwebview"

      - name: Configure CMake
        run: cmake -S . -B build -G "${{env.CMAKE_GENERATOR}}" -A "${{matrix.cmake-arch}}" -D CMAKE_BUILD_TYPE="${{env.BUILD_TYPE}}"

      - name: Build
        run: cmake --build build --config ${{env.BUILD_TYPE}}

      - name: Package
        run: windeployqt --no-opengl-sw ${{runner.workspace}}\quezer\${{env.BUILD_TYPE}}\quezer.exe

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: quezer-${{matrix.name}}
          path: ${{runner.workspace}}\quezer\${{env.BUILD_TYPE}}
